.simpleCard{
    display: grid;
    gap: 1rem;
    padding: 1.5rem ;
    padding-left: 0;
}

.simpleCard h3{
    font-weight: 300;
}

.simpleCard p{
    font-size: 0.85rem;
}

.simpleCard img{
    height: 72px;
    width: 72px;
   display: block;
}

@media (max-width:900px) {
    .simpleCard{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1.5rem;
    }

    .simpleCard img{
        margin: 0 auto;
    }
}